{% extends "__base.html" %}

{% block page_header %}Έκθεση Σκοπιμότητας{% endblock %}

{% block top_menu %}
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="{% url 'subjects' %}">Αντικείμενα Έρευνας</a></li>
    <li role="presentation"><a href="{% url 'services' %}">Παροχή Υπηρεσιών</a></li>
    <li role="presentation"><a href="{% url 'teachers' %}">Καθηγητές</a></li>
    <li role="presentation" class="active"><a href="{% url 'essay' %}">Έκθεση Σκοπιμότητας</a></li>
    <li role="presentation"><a href="{% url 'research_units' %}">Ερευνητικές Μονάδες</a></li>
{% endblock %}
  
{% block page_lead %}
<p>Το αντικείμενο του εργαστηρίου είναι η Διαχείριση Δεδομένων, Πληροφορίας και Γνώσης, το σχετικό λογισμικό και οι εφαρμογές του.</p>

<p><br />
</p>

<p>Το αντικείμενο αυτό είναι μοναδικό από την άποψη ότι συγκλίνουν σε αυτό:</p>

<ul>
<li><p>Η έρευνα και η βασική, η μεταπτυχιακή και η συνεχιζόμενη εκπαίδευση σε σημαντικούς τομείς </p>

</li>
<li><p>Η ζήτηση στην αγορά εργασίας και υπηρεσιών. </p>

</li>
</ul>

<p><br />
</p>

<p>Θεωρείται επωφελής για την ακαδημαϊκή κοινότητα αλλά και για τη χώρα στο σύνολο της η δημιουργία ενός εργαστηρίου όπου θα φιλοξενούνται διάφορες δράσεις με κύριους άξονες: </p>

<p>Βάσεις Δεδομένων και Γνώσης, Ανάπτυξη και Διαχείριση Πληροφοριακών Συστημάτων, Μοντελοποίηση και Βελτιστοποίηση Διαδικασιών, Ηλεκτρονική Μάθηση και Εκπαιδευτική και Υποβοηθητική Τεχνολογία στην Τριτoβάθμια Εκπαίδευση, Επεξεργασία Γλώσσας και Πληροφορίας, Ανάκτηση Κειμένου και Διαχείριση Εγγράφων.</p>

<p><br />
</p>

<p>Η ίδρυση του εργαστηρίου θα υποβοηθήσει τη συνεργασία με δημόσιους και ιδιωτικούς φορείς της χώρας.</p>

<p><br />
</p>

<p>Τα μέλη της προτεινόμενου ερευνητικού εργαστηρίου συμμετέχουν ως άτομα- ομάδα σήμερα και σε ερευνητικά έργα άλλων Ιδρυμάτων ή άλλων ομάδων του ΤΕΙ Αθήνας. Η ίδρυση του ερευνητικού εργαστηρίου θα διευκολύνει τις υπάρχουσες συνεργασίες κατά τρόπο οργανωμένο με αποτέλεσμα την ενίσχυση της ερευνητικής φυσιογνωμίας του Ιδρύματος. </p>

<p><br />
</p>

<p><b>Αποστολή</b></p>

<p>Με βάση την ερευνητική και εκπαιδευτική εμπειρία του υπογράφοντος καθηγητή και των συνεργατών του, η θεσμική συγκρότηση του προτεινόμενου εργαστηρίου InfoDat_KM θα έχει ως αποστολή: </p>

<p>1. Τη διεξαγωγή έρευνας για την κάλυψη των διδακτικών και ερευνητικών αναγκών σε προπτυχιακό και μεταπτυχιακό επίπεδο</p>

<p>2. Τη δημιουργία θεωρητικής, επιστημονικής και τεχνολογικής υποδομής για την αρτιότερη διδασκαλία των προπτυχιακών και μεταπτυχιακών μαθημάτων που είναι σχετικά με τα γνωστικά/ερευνητικά του πεδία</p>

<p>3. Την ανάπτυξη προγραμμάτων διδασκαλίας και έρευνας για προπτυχιακούς και μεταπτυχιακούς σπουδαστές στο πλαίσιο των γνωστικών/ερευνητικών του πεδίων</p>

<p>4. Την ανάπτυξη νέων ερευνητικών προγραμμάτων για τη μεθοδολογική και επιστημονικοτεχνική καλλιέργεια των πεδίων που σχετίζονται με τη φύση του εργαστηρίου</p>

<p>5. Την κάλυψη των αναγκών της έρευνας και διδασκαλίας του προγράμματος σπουδών στο πλαίσιο της συνεργασίας μεταξύ Τμημάτων ΤΕΙ και Τμημάτων Πανεπιστημίων, σύμφωνα με το άρθρο 19 του Ν. 3794/2009</p>

<p>6. Τη σύνδεση και κάθε μορφής συνεργασία με εκπαιδευτικά ιδρύματα και ερευνητικά κέντρα της ημεδαπής και αλλοδαπής, εφόσον οι επιστημονικοί τους στόχοι συμπίπτουν, συμβαδίζουν και αλληλοσυμπληρώνονται με αυτούς του εργαστηρίου</p>

<p>7. Το συντονισμό των σχετικών ερευνητικών προγραμμάτων σε όλους τους επιμέρους ερευνητικούς χώρους και τη λειτουργική διασύνδεσή τους από επιστημονική και διοικητική άποψη</p>

<p>8. Τη διοργάνωση επιστημονικών διαλέξεων, ημερίδων, σεμιναρίων, συμποσίων, συνεδρίων και άλλων επιστημονικών εκδηλώσεων, την πραγματοποίηση δημοσιεύσεων και εκδόσεων και την πρόσκληση Ελλήνων και ξένων αναγνωρισμένων επιστημόνων και άλλων προσωπικοτήτων</p>

<p>9. Την συνεργασία με φορείς του δημόσιου τομέα, Ο.Τ.Α., επιστημονικούς και κοινωνικούς φορείς καθώς και με διεθνείς οργανισμούς και οργανώσεις για τη μελέτη προβλημάτων και την υποβολή προτάσεων και εναλλακτικών μεθόδων αντιμετώπισής τους.</p>

<p>10. Την παροχή υπηρεσιών και τη διάθεση ερευνητικών και εν γένει επιστημονικών προϊόντων.</p>

<p>11. Την υλοποίηση Εθνικών και Ευρωπαϊκών ερευνητικών προγραμμάτων.</p>

<p>12. Τη δημιουργία σταθερών ερευνητικών πυρήνων, υπό την μορφή των παρακάτω ερευνητικών μονάδων:</p>

<p>• Bάσεων δεδομένων και γνώσης</p>

<p>• Aνάπτυξης και διαχείρισης Πληροφοριακών Συστημάτων</p>

<p>• Ηλεκτρονική μάθηση και εκπαιδευτική και υποβοηθητική τεχνολογίας</p>

<p>• Μοντελοποίηση και Βελτιστοποίηση Διαδικασιών </p>

<p>• Επεξεργασία Γλώσσας και Πληροφορίας </p>

<p>• Ανάκτηση κειμένου και διαχείριση εγγράφων</p>

<p>• Ανάπτυξης μικρών συστημάτων και συστημάτων για χρήση εκτός γραφείου.</p>

<p><br />
</p>

<p><b>Σκοπός και στόχοι του InfoDat_KM είναι:</b></p>

<p>• ΄Ερευνα και ανάπτυξη νέων μεθόδων και καινοτομικών εφαρμογών (Research and development activities) στο πλαίσιο της διαχείρισης δεδομένων, πληροφορίας και γνώσης</p>

<p>• Εξειδίκευση στην έρευνα και εκπαίδευση στους παρακάτω τομείς:</p>

<p>i. Τομέας βάσεων δεδομένων και γνώσης</p>

<p>ii. Τομέας ανάπτυξης και διαχείρισης Πληροφοριακών Συστημάτων</p>

<p>iii. Τομέας ηλεκτρονικής μάθησης και εκπαιδευτικής και υποβοηθητικής τεχνολογίας.</p>

<p>iv. Τομέας Επεξεργασίας Γλώσσας και Πληροφορίας </p>

<p>v. Τομέας ανάκτησης κειμένου και διαχείρισης εγγράφων</p>

<p>vi. Τομέας ανάπτυξης μικρών συστημάτων και συστημάτων για χρήση εκτός γραφείου</p>

<p><br />
</p>

<p>• Παροχή Υπηρεσιών όπως: </p>

<p>Μελέτες, ψηφιοποίηση και παραγωγή βάσεων δεδομένων (πχ βάσεων ιστορικών χειρογράφων), οργάνωση υπηρεσιών τεκμηρίωσης και πληροφόρησης, μελέτες αποτύπωσης και βελτιστοποίησης διαδικασιών, σχεδίαση πληροφοριακών συστημάτων βασιζόμενων σε βάσεις δεδομένων και γνώσης, σχεδίαση συστημάτων ανάκτησης δεδομένων, πολυμεσικές εφαρμογές, σχεδίαση και κατασκευή δυναμικών ιστοσελίδων και ιστοτόπων, συμμετοχή σε εφαρμογές στους τομείς υγείας, ηλεκτρονικής διακυβέρνησης, πολιτισμού (πολιτιστικής κληρονομιάς), ηλεκτρονικής μάθησης, γλωσσικής τεχνολογίας, ηλεκτρονικού εμπορίου κ.λπ. Σχεδίαση και υλοποίηση μικρών συστημάτων και συστημάτων για χρήση εκτός γραφείου.</p>

<p>• Ανάπτυξη ερευνητικής υποδομής (Development of research infrastructure) </p>

<p>• Δραστηριότητες εκπαίδευσης σε προπτυχιακό και μεταπτυχιακό επίπεδο</p>

<p><br />
</p>

<p>Για την επίτευξη των στόχων του το εργαστήριο προωθεί τη συνεργασία με ανώτατα εκπαιδευτικά ιδρύματα, ερευνητικά κέντρα, πανεπιστημιακά εργαστήρια, ερευνητικές ομάδες και εθνικούς οργανισμούς και συντονίζει και συμμετέχει στην υλοποίηση Εθνικών και Ευρωπαϊκών ερευνητικών προγραμμάτων</p>



{% endblock %}

{% block page_content %}{% endblock %}
