{% extends "__base.html" %}

{% block page_header %}Ερευνητικές Μονάδες{% endblock %}

{% block top_menu %}
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="{% url 'subjects' %}">Αντικείμενα Έρευνας</a></li>
    <li role="presentation"><a href="{% url 'services' %}">Παροχή Υπηρεσιών</a></li>
    <li role="presentation"><a href="{% url 'teachers' %}">Καθηγητές</a></li>
    <li role="presentation" class="active"><a href="{% url 'research_units' %}">Ερευνητικές Μονάδες</a></li>
{% endblock %}
  
{% block page_lead %}
<h3>Συνοπτική περιγραφή Τομέων έρευνας και υπεύθυνοι τομέων</h3>

{% for unit in units %}
    <div class="research-unit-block">
        <header>
            {{unit.title}} - {{unit.teacher}}
        </header>
        <p>
        {{ unit.description }}
        </p>
    </div>
{% endfor %}



{% endblock %}

{% block page_content %}
<p><b>Προβλεπόμενα έσοδα</b></p>

<p>Τα έσοδα του εργαστηρίου προέρχονται από:</p>

<p>1. Την εκτέλεση ερευνητικών προγραμμάτων που πραγματοποιούνται για ίδιο λογαριασμό ή λογαριασμό τρίτων.</p>

<p>2. Τη διάθεση ερευνητικών ή εν γένει επιστημονικών προϊόντων.</p>

<p>3. Την παροχή υπηρεσιών. Κατά την υπογραφή συμφωνίας παροχής υπηρεσιών με τρίτους, απαγορεύεται να τίθεται ως όρος της συμφωνίας, ότι τα αποτελέσματα της εργασίας του εργαστηρίων είναι απόρρητα. Η δαπάνη για την χορήγηση αντιγράφων ή άλλων στοιχείων βαρύνει εκείνον που τα αιτείται.</p>

<p>4. Τις πιστώσεις που διατίθενται από το Τμήμα Πληροφορικής με τη διαδικασία του στοιχείου β’ της παρ.3 του άρθρου 9, όπως τροποποιήθηκε με το στοιχείο β’ της παρ. 16 του άρθρου 71 του ν.1566/1985.</p>

<p>5. Τις ειδικές εισφορές και χρηματοδοτήσεις από διεθνείς οργανισμούς, δημόσιες ή ιδιωτικές επιχειρήσεις και νομικά ή φυσικά πρόσωπα.</p>

<p>6. Τις κληρονομιές, τις δωρεές και τις κληροδοσίες που καταλείπονται στο Τ.Ε.Ι. Αθήνας για τους σκοπούς των εργαστηρίων</p>

<p>7. Η διαχείριση των εσόδων του εργαστηρίου γίνεται από τον Ειδικό Λογαριασμό Κονδυλίων 'Ερευνας (ΕΛΚΕ), από τον οποίο αποδίδεται προς το ΤΕΙ Αθήνας μέρος των εσόδων, κατ' ανάλογη εφαρμογή της παραγράφου 2 του άρθρου 7 της υπ' αριθμόν 679/22.8.1996 κοινής υπουργικής απόφασης (ΦΕΚ 826Β')</p>

{% endblock %}
