{% extends "__base.html" %}

{% block page_header %}{% endblock %}

  
{% block page_lead %}
<h2>Το κοινό επιστημονικό έργο της βασικής ερευνητικής ομάδας του Εργαστηρίου</h2>
<table cellpadding="7" cellspacing="0"> <colgroup><col > <col > </colgroup>
<tbody>
<tr>
<td colspan="2" valign="top" ><p><b>Έργο 1. </b>ΕΣΠΑ – ΑΡΧΙΜΗΔΗΣ ΙΙΙ, ΤΕΙ Αθήνας, Εργο: “Ανάκτηση κειμένου και εικόνας με ασφαλή τρόπο σε κατανεμημένα και ασύρματα περιβάλλοντα ειδικού σκοπού. Secure retrieval and dissemination of Information (text and image) in Distributed and Wireless specific purpose environments (SECRET_DIDWE)” (2012-2014) (επιστημονικός υπεύθυνος Σκουρλάς Χ., συνεργάτες: Γαλιώτου Ε., Καρανικόλας Ν.Ν., Μπέλσης Π., Γκρίτζαλης Σ., Καμπουρλάζος Β., Φράγγος Κ., Βάσσης Δ.)</p>

<p><b>Έργο 2. </b>Lifelong Learning Programmes, Leonardo da Vinci Multilateral Project Transfer Of Innovation, “DBTech VET” Project (funded by European Commission): DBTech VET Project links VET and HE education together with working life in order to meet better the needs of labour market (<a href="https://sites.google.com/site/dbtechvet/project">https://sites.google.com/site/dbtechvet/project</a>)</p>

<p><b>Έργο 3.</b> ΕΣΠΑ – ΘΑΛΗΣ, Συντονιστής: Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης, Εργο: Από την Θεωρία Γραφημάτων στα Μητροειδή: Αλγοριθμικές Συνέπειες και Εφαρμογές, From Graph Theory to Matroids: Algorithmic Issues and Applications (<a href="http://excellence.minedu.gov.gr/thales/el/thalesprojects/379437">http://excellence.minedu.gov.gr/thales/el/thalesprojects/379437</a>)</p>

<p><br />
</p>

<p><b>Έργο 4.</b> ΕΣΠΑ – ΘΑΛΗΣ, Συντονιστής: Πανεπιστήμιο Πατρών, Εργο: Πόντος, Καππαδοκία, Αϊβαλί: Στα χνάρια της Μικρασιατικής Ελληνικής Γλώσσας, Pontus, Cappadocia, Aivali : in Search of Asia Minor Greek (2012-2015) (επιστ. υπεύθυνη έργου: Ράλλη Α., επιστ. υπεύθυνη ερευνητικής ομάδας ΤΕΙ Αθήνας: Γαλιώτου Ε., συνεργάτης: Καρανικόλας, Ν.Ν.),</p>

<p>(<a href="http://excellence.minedu.gov.gr/thales/el/thalesprojects/380255">http://excellence.minedu.gov.gr/thales/el/thalesprojects/380255</a>)</p>

<p><br />
</p>

<p><b>Έργο 5.</b> «Ανάπτυξη ψηφιακής βιβλιοθήκης του ΤΕΙ Αθήνας», Ε.Π. «Ψηφιακή Σύγκλιση» 2011-2014, εγκεκριμένο έργο με φορέα υλοποίησης το ΤΕΙ Αθήνας, (επιστημονική υπεύθυνη Μάνεση Δ., συνεργάτες: Γιαννακόπουλος Γ., Σκουρλάς Χ.)</p>

<p><br />
</p>

<p><b>Έργο 6.</b> «Πολύτιμο: Σύστημα Επεξεργασίας, Διαχείρισης και Παροχής Πρόσβασης στο Περιεχόμενο Πολύτιμων Βιβλίων και Χειρογράφων», Κοινωνία της Πληροφορίας (επιστημονική υπεύθυνη ερευνητικής ομάδας ΤΕΙ Αθήνας: Γαλιώτου Ε., συνεργάτες: Σκουρλάς Χ. , Γάτος Β. (επιστ. υπεύθυνος ερευνητικής ομάδα ΕΚΕΦΕ «Δ»), Κεσίδης Α. (μέλος ερευνητικής ομάδα ΕΚΕΦΕ «Δ»))</p>

<p><br />
</p>

<p><b>Έργο 7.</b> «Παράλληλη, Διαγλωσσική Ανάκτηση Πληροφορίας, βασιζόμενη στο Περιεχόμενο» “Parallel Content based Cross Language Information Retrieval - PA_CO_CLIR”, Αρχιμήδης Ι (επιστημονικός υπεύθυνος Σκουρλάς Χ., συνεργάτες: Γαλιώτου Ε., Καρανικόλας Ν.Ν., Μπέλσης Π., Γκρίτζαλης Σ., Καμπουρλάζος Β., Φράγγος Κ., Βάσσης Δ..)</p>

<p><br />
</p>

<p><b>Έργο 8.</b> «ΑΣ.ΠΙ.ΔΑ - Ανάπτυξη Μεθοδολογιών και αξιοποίηση Τεχνικών για την υλοποίηση περιβαλλόντων Ηλεκτρονικής Διακυβέρνησης με γνώμονα τη διασφάλιση Ασφάλειας, Ποιότητας και Διαλειτουργικότητας» (Αρχιμήδης Ι) (επιστημονικός υπεύθυνος Χάλαρης Ιωάννης, συνεργάτες: Σκουρλάς Χ., Μπέλσης Π.)</p>

<p><b>Έργο 9.</b> «ΜΟ.ΔΙ.Π ΤΕΙ_ΑΘΗΝΑΣ» - Ανάπτυξη &amp; Εφαρμογή Τεχνολογικών Υποδομών και Μεθοδολογιών για την αξιολόγηση των ακαδημαικών και διοικητικών μονάδων (ΕΣΠΑ) (επιστημονικός υπεύθυνος Χάλαρης Ιωάννης, συνεργάτες: Σκουρλάς Χ., Μπέλσης Π. κ.α)</p>

<p><br />
<br />
</p>

<p><br />
</p></td>
</tr>

<tr>
<td colspan="2" valign="top" ><p><b>Α. Δημοσιεύσεις σε επιστημονικά περιοδικά αναγνωρισμένου κύρους</b></p>

<p><b>Τα κοινά ονόματα σημειώνεται με χαρακτήρες Bold</b></p></td>
</tr>

<tr>
<td colspan="2" valign="top" ><p><b>2014</b></p>

<p>1. <b>Eleni Galiotou :</b> Using digital corpora for preserving and processing cultural heritage texts: a case study, Library Review vol.63, issue 6/7, Emerald, 2014 (in press)</p>

<p>2. <b>E. Galiotou, N. Karanikolas, </b>I. Manolessou, N. Pantelidis, Papazachariou, D., A. <b>Ralli, </b> G. Xydopoulos : Asia Minor Greek: Towards a computational processing, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, (Special issue: Proc. IC-ININFO 2103, Prague), Elsevier, 2014 (in press)</p>

<p>3. <b>P. Fragkou,</b> <b>E</b>. <b>Galiotou, </b> Matsakas M. : Enriching the e-GIF ontology for an improved application of linking data technologies to Greek open government data, Procedia – Social and Behavioral Sciences, ISSN: 1877-042, (Special issue: Proc. IC-ININFO 2013, Prague), Elsevier, 2014 (in press)</p>

<p>4. <b>Nikitas N. Karanikolas</b>, A methodology for building simple but robust stemmers without language knowledge: Stemmer configuration. Procedia, Social and Behavioral Sciences (forthcoming),</p>

<p>5. <b>Nikitas N. Karanikolas</b>, Knowledge and Information in Nutrition Software design. Procedia, Social and Behavioral Sciences (forthcoming)</p>

<p><br />
</p>

<p><b>2013</b></p>

<ol> <li><p><b>Catherine Marinagi, Christos Skourlas</b>: Blended Learning in Personalized Assistive Learning Environments. IJMBL 5(2): 39-59 (2013)</p>

</li>
<li><p><b>D. Vassis,</b> A. Kampouraki, <b>P. Belsis, C. Skourlas,</b> A Resource Reservation and Traffic Categorization Agent for QoS in Medical Ad Hoc Networks, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier, Volume 73, 27 February 2013, Pages 460-466</p>

</li>
<li><p><b>E. Galiotou, P. Fragkou</b> (2013). Applying Linked Data Technologies to Greek Open Government Data: A Case Study. Procedia-Social and Behavioral Sciences, 73 ISSN: 1877-0428, Elsevier, 27 Feb. 2013 479-486</p>

</li>
<li><p>A. Kampouraki, <b>D. Vassis, P. Belsis, C. Skourlas</b>, e-Doctor: A Web Based Support Vector Machine for Automatic Medical Diagnosis, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier. Volume 73, 27 February 2013, Pages 467-474</p>

</li>
<li><p><b>Catherine Marinagi, Christos Skourlas, Petros Belsis,</b> Employing ubiquitous computing devices and technologies in the higher education classroom of the future. Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier, Volume 73, 27 February 2013, Pages 487-494</p>

</li>
<li><p><b>Catherine Marinagi, Petros Belsis, Christos Skourlas,</b> New directions for pervasive computing in logistics, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier, Volume 73, 27 February 2013, Pages 495-502</p>

</li>
<li><p>Nektarios Giannoulis, Anthimoula Kagia, Panos Kakoulidis, Costas Rikkou, <b>Christos Skourlas,</b> Personalized Adaptive Networked Learning for Disabled Students &amp; Social Networking for the Inclusion of students – The Multimedu tool, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier, Volume 73, 27, February 2013, Pages 451-455</p>

</li>
</ol><p>8. M. Chalaris, <b>I. Chalaris, C. Skourlas</b> and A. Tsolakidis, Extraction of rules based on students’ questionnaires, Procedia – Social and Behavioral Sciences, ISSN: 1877-0428, Elsevier, Volume 73, 27 February 2013, Pages 510-517 </p>

<p>9. Doukakis, S., Giannakos, M., <b>Koilias, C</b>., &amp; Vlamos, P. (2013). Measuring Students’ Acceptance and Confidence on Algorithms and Programming: The Impact of the Engagement with CS on Secondary Education, Informatics in Education, 12(2), 57-70.</p>

<p>10. Higher technological education specialties and graduates' vocational status and prospects, Vassilis Kostoglou, M Vassilakopoulos, <b>C Koilias</b>, Education+Training, 2013 - Vol. 55 Iss: 6, pp.520 – 537, Emerald Group Publishing Limited</p>

<p><br />
</p>

<p><b>2012</b></p>

<ol> <li><p><b>Petros Belsis,</b> Charalampos Konstantopoulos, Basilis Mamalis, Grammati E. Pantziou, <b>Christos Skourlas</b>: User-Directed, Cluster-Based Retrieval for Large Document Collections in Highly Parallel Environments. I. J. Comput. Appl. (ISCA) 19(1):47-60 (2012) </p>

</li>
<li><p><b>Ioannis Em. Chalaris</b>, Dr. Caterina Poustourli : “Total Quality Management in Higher Education with Balance Scorecard Technique”, MIBES-ESDO International Conferences 2012, 25-27 May 2012. </p>

</li>
<li><p><b>C Koilias,</b> E Tourna, K Koukouletsos, Job satisfaction of higher education graduates, Operational Research, 2012 – Springer, November 2012, Volume 12, Issue 3, pp 421-437</p>

</li>
</ol><p><br />
</p>

<p><b>2011</b></p>

<ol> <li><p><b>Nikitas N. Karanikolas</b> and <b>Michael Gr. Vassilakopoulos</b>. Database Design Revisited. International Journal on Integrated Information Management, Vol. 1 (1), pp. 60-86, 2011.</p>

</li>
<li><p><b>P. Belsis, C. Skourlas, S. Gritzalis, </b>Secure electronic healthcare records management in wireless environments, Journal of Information Technology Research, Vol. 4, No. 4, pp. 1-17, 2011, IGI Global</p>

</li>
<li><p><b>Petros Belsis, Dimitris Vassis, Christos Skourlas:</b> Identifying and utilizing secure paths in ad hoc assistive medical environments. Security and Communication Networks (SCN) 4(11):1231-1242 (2011)</p>

</li>
<li><p><b>A. Kesidis, E. Galiotou, B. </b>Gatos, I. Pratikakis, : A word spotting framework for historical machine printed documents, International Journal on Document Analysis and Recognition (IJDAR): Volume 14, Issue 2, Springer, 2011, pp. 131-144 (impact factor: 1.213) </p>

</li>
<li><p><b>Catherine Marinagi,</b> Fotini Sarinopoulou, <b>Christos Skourlas,</b> (2011) "Personalized self-assessment for deaf and hard-of-hearing students", International Journal on Integrated Information Management, Vol. 1 Issue 1, pp. 49 – 59 </p>

</li>
<li><p>Manolis Chalaris, Anastasios Tsolakidis, Cleo Sgouropoulou, <b>Ioannis Chalaris</b>, “Developing an Information System for Quality Assurance in Higher Education using the Balanced Scorecard Technique - The case study of TEI-A”, Quality in Educational Technologies (QET) special session, PCI 2011 in press ISBN 978-0-7695-4389-5. DOI 10.11.09, Kastoria.</p>

</li>
<li><p>Manolis Chalaris, Anastasios Tsolakidis, <b>Ioannis Chalaris</b>, “Applying Balanced Scorecard Strategic Management in Higher Education”, International Conference on Integrated Information (IC-ININFO 2011), 29/09/2011 – 03/10/2011, Kos.</p>

</li>
<li><p>Anastasios Tsolakidis, Manolis Chalaris, <b>Ioannis Chalaris</b>, “Information and Knowledge Organization – The case of the TEI of Athens”, International Conference on Integrated Information (IC-ININFO 2011), 29/09/2011 – 03/10/2011, Kos. </p>

</li>
<li><p>Doukakis, S., <b>Koilias, C</b>., &amp; Chionidou-Moskofoglou, M. (2011). An undergraduate primary education teaching practicum design and undergraduate primary teachers’ satisfaction on developing technological, pedagogical and mathematical knowledge, Int. Journal Teaching and Case Studies, 3(2/3/4), 180-195.</p>

</li>
<li><p>Drosia Charisi, Constantine Eliopoulos, Velissaria Vanna, <b>Christos G. Koilias</b>, Sotiris K. Manolis, Sexual dimorphism of the arm bones in a modern Greek population. Journal of forensic Sciences, Volume 56, Issue 1, pages 10–18, 2011, Wiley Online Library</p>

</li>
<li><p><b>C Koilias</b>, V Kostoglou, A Garmpis, The Incorporation of Graduates from Higher Technological Education into the Labor Market., Journal of Service Science &amp; Management . Mar2011, Vol. 4 Issue 1, p86-96. </p>

</li>
<li><p>V Kostoglou, A Garmpis, <b>C Koilias</b>, Beatrice Van der Heijden, Predictors of higher technological education graduates' labour market entrance success, European Journal of Higher Education, Volume 1, Issue 2-3, pages 158-178, 2011</p>

</li>
</ol><p><br />
</p>

<p><b>2010</b></p>

<ol> <li><p><b>Vassis, D., Belsis, P., Skourlas,</b> C., Pantziou, G., Providing advanced remote medical treatment services through pervasive environments, 2010, Personal and Ubiquitous Computing 14 (6), pp. 563-573 </p>

</li>
<li><p><b>Karanikolas, N.N., Skourlas, C.,</b> A parametric methodology for text classification, 2010, Journal of Information Science 36 (4), pp. 421-442 </p>

</li>
<li><p>Mountrakis, C., Eliopoulos, C., <b>Koilias C.G.,</b> and S.K. Manolis (2010) Sex Determination by using the metric analysis of the metatarsals in the Athens Collection. Journal of Forensic Sciences. 200 (2010) 178.e1–178.e7, Impact Factor: 1,088.</p>

</li>
<li><p>Mountrakis, C., Eliopoulos, C., <b>Koilias C.G.,</b> and S.K. Manolis (2010) Sex Determination by using the metric analysis of the metatarsals in the Athens Collection. Journal of Forensic Sciences. 200 (2010) 178.e1–178.e7, Impact Factor: 1,088.</p>

</li>
</ol><p><br />
</p>

<p><br />
</p>

<p><br />
</p></td>
</tr>

<tr>
<td colspan="2" valign="top" ><p><b>B. Δημοσιεύσεις σε πρακτικά συνεδρίων</b></p>

<p><b>Τα κοινά ονόματα σημειώνεται με χαρακτήρες Bold</b></p></td>
</tr>

<tr>
<td colspan="2" valign="top" ><p><b>2014</b></p>

<ol> <li><p><b>N.N. Karanikolas, E. Galiotou, A. Ralli : </b>Towards a unified exploitation of electronic dialectal corpora: Problems and perspectives, <i>Proceedings of the 17</i><sup><i>th</i></sup><i> Int. Conference TSD2014 (Brno, Czech. Rep., Sept. 8-12 2014)</i>, LNAI, Springer-Verlag</p>

</li>
<li><p>E., Petropoulou, <b>E. Galiotou, A. Ralli, : </b> A finite-state treatment of neoclassical compounds in Modern Greek and English, <i>Proceedings PolTAL2014 – 9</i><sup><i>th</i></sup><i> International Conference on Natural Language Processing (Warsaw, Poland, Sept. 17-19 2014)</i>, LNAI, Springer-Verlag</p>

</li>
</ol><p><br />
</p>

<p><b>2013</b></p>

<ol> <li><p><b>Dimitris Vassis, Petros Belsis, Christos Skourlas, Catherine Marinagi,</b> Vassilis Tsoukalas: Secure mobile assessment of deaf and hard-of-hearing and dyslexic students in higher education. PanhellenicConference on Informatics 2013, ACM, 311-318</p>

</li>
<li><p><b>E. Galiotou, N.N. Karanikolas</b>, C. Tsoulloftas : On the effect of stemming algorithms on extractive sunmmarization: A case study, Proceedings of the 17th PCI2013 (Thessaloniki, Greece, Sep. 19-21, 2013), ACM Press, 300-304.</p>

</li>
<li><p><b>N.N. Karanikolas, E. Galiotou</b>, G. Xydopoulos, <b>A. Ralli</b>, K. Athanasakos, G. Koronakis : Structuring a Multimedia tri-dialectal dictionary, Proceedings of the 16thTSD2013 (Pilsen, Czech Rep., Sep. 1-5, 2013),LNAI, Springer-Verlag, , 509-518. </p>

</li>
<li><p>Vassilis Tsoukalas, <b>Vassilis G. Kaburlasos, Christos Skourlas:</b> A granular, parametric KNN classifier. Panhellenic Conference on Informatics 2013, ACM, 319-326</p>

</li>
<li><p>Vassilis Zafeiris, <b>Petros Belsis, Christos Skourlas</b>: NFC-triggered IMS flow mobility across different devices. PETRA 2013: 14 </p>

</li>
<li><p><b>Ιωάννης Χάλαρης,</b> “Σχεδιασμός &amp; Διαχείριση Ακαδημαϊκής Στρατηγικής ως εργαλείο διασφάλισης ποιότητας. Από τη Θεωρία στην Πράξη ” . 5ο Συνέδριο Διοικητικών Επιστημόνων, Κομοτηνή, 28-30 Νοεμβρίου 2013, ΔΠΘ </p>

</li>
</ol><p><br />
</p>

<p><b>2012</b></p>

<ol> <li><p><b>Catherine Marinagi and Christos Skourlas,</b> A Wireless Architecture for Assistive Mobile Learning Environments, IADIS International Conference, 7th Mobile Learning, 2012, 11th to 13th March 2012, Berlin, Germany, Conference Proceedings </p>

</li>
<li><p><b>Dimitris Vassis, Petros Belsis, Christos Skourlas,</b> Secure Management of Medical Data in Wireless Environments, 16th Panhellenic Conference on Informatics, Special Session - Secure Retrieval and Dissemination of Information (Text and Image) in Distributed and Wireless Specific Purpose Environments, 2012, IEEE, pp 427-432</p>

</li>
<li><p><b>D. Vassis,</b> B. Zafeiris, <b>C. Skourlas, and P. Belsis,</b> An Ad Hoc-Based ERP for Medical Treatment Provision in Crisis Conditions, 16th Panhellenic Conference on Informatics, Special Session - Secure Retrieval and Dissemination of Information (Text and Image) in Distributed and Wireless Specific Purpose Environments, 2012, IEEE, pp 439-444</p>

</li>
<li><p><b>Ioannis Em. Chalaris, </b>Caterina Poustourli, “Total Quality Management in Higher Education with Balance Scorecard Technique”, MIBES-ESDO International Conferences 2012, 25-27 May 2012.</p>

</li>
<li><p><b>N.N. Karanikolas, E. Galiotou</b>, C. Tsoulloftas : A Workbench for Extractive Summarization Methods, Proceedings of the 16thPCI 2012 (Piraeus, Greece, Oct. 5-7,2012), IEEE, 454-458.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b>, <b>Michael Vassilakopoulos</b> and Nektarios Giannoulis, A Software Tool for Building a Statistical Prefix Processor. BCI 2012: 5th Balkan Conference in Informatics, September 16-20, 2012, Novi Sad, Serbia, ACM Digital Library.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b>, Anastasia Tritaki and Oleg Karavasileiadis, Advanced Database design and Modern Web technologies used in Nutrition Software design. PCI'2012: 16th Panhellenic Conference on Informatics, October 5-7, 2012, Piraeus, Greece. IEEE CPS.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b>, A methodology for building simple but robust stemmers without language knowledge: Overview, data model and ranking algorithm. CompSysTech'2013: 14th International Conference on Computer Systems and Technologies, June 2013, Ruse, Bulgaria. ACM ICPS, doi:10.1145/2516775.2516783.</p>

</li>
<li><p><b>Petros Belsis, Stefanos Gritzalis, Catherine Marinagi, Christos Skourlas, Dimitris Vassis,</b> Secure Wireless Infrastructures and Mobile Learning for Deaf and Hard-of-Hearing Students, 16th Panhellenic Conference on Informatics, 2nd Mobile Device Software Development and Web Development (MDSD) 2012, IEEE, pp 369-374 </p>

</li>
<li><p><b>Ιωάννης Χάλαρης,</b> Κλειώ Σγουροπούλου, Αναστάσιος Τσολακίδης, Εμμανουήλ Χάλαρης, “Υποστηρικτικές Υποδομές Τεχνολογιών Πληροφορικής και Στρατηγικού Management για την αναβάθμιση των διαδικασιών Αξιολόγησης ΑΕΙ” . Συνέδριο «Διασφάλιση και Διοίκηση Ποιότητας στην Ανώτατη Εκπαίδευση: Διοίκηση και Καλές Πρακτικές», Θεσσαλονίκη, 20-21 Σεπτεμβρίου 2012, ΚΕ.Δ.Ε.Α.-ΑΠΘ</p>

</li>
</ol><p><br />
</p>

<p><b>2011 </b> </p>

<ol> <li><p><b>C.C. Marinagi, C. Skourlas </b> Providing Access to Students with Disabilities and Learning Difficulties in Higher Education through a Secure Wireless Framework, IC-ININFO: International Conference on Integrated Information, September 29– October 3, 2011, island of Kos, Greece</p>

</li>
<li><p><b>E. Galiotou</b> : Towards the Preservation and Availability of Historical Books and Manucripts: A Case Study, Proceedings of IC-ININFO2011 (Kos, Greece, Sep. 29 – Oct.3, 2011), Advances on Information Processing and Management vol. 1, pp. 8-11</p>

</li>
<li><p><b>Nikitas N. Karanikolas and Christos Skourlas</b>, Exploiting the Search Culture modulated by the Documentation Retrieval applications. IC-ININFO: International Conference on Integrated Information, September 29 – October 3, 2011, island of Kos, Greece.</p>

</li>
<li><p><b>Michael Vassilakopoulos</b>, Antonio Corral and <b>Nikitas N. Karanikolas</b>, Join-Queries between Two Spatial Datasets Indexed by a Single R*-Tree. In 37th International Conference on Current Trends in Theory and Practice of Computer Science (SOFSEM 2011), January 22-28, 2011, Nov? Smokovec, Slovakia, Springer LNCS 6543, ISSN 0302-9743, ISBN 978-3-642-18380-5.</p>

</li>
<li><p>Stefanos Kougioumtzis, <b>Nikitas N. Karanikolas</b> and Themis Panayiotopoulos, Augmented reality environments for immersive and non linear virtual storytelling. 3IA'2011. 14th International Conference on Computer Graphics and Artificial Intelligence, May 27-28, 2011, Athens, Greece.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b> and <b>Michael Gr. Vassilakopoulos</b>, Assessment of language skills weaknesses and their confrontation through personalized e-lessons. CompSysTech '11: 12th International Conference on Computer Systems and Technologies, June 2011, Vienna, Austria. ACM ICPS vol. 578. ISBN: 978-1-4503-0917-2. doi: 10.1145/2023607.2023688.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b>, Search Culture. PCI'2011: 15th Panhellenic Conference on Informatics, 30 September – 2 October 2011, Kastoria, Greece. IEEE CPS. ISBN: 978-0-7695-4389-5.</p>

</li>
<li><p>Manolis Chalaris, Anastasios Tsolakidis, Cleo Sgouropoulou, <b>Ioannis Chalaris</b>, “Developing an Information System for Quality Assurance in Higher Education using the Balanced Scorecard Technique - The case study of TEI-A”, Quality in Educational Technologies (QET) special session, PCI 2011 in press ISBN 978-0-7695-4389-5. DOI 10.11.09, Kastoria.</p>

</li>
<li><p>Manolis Chalaris, Anastasios Tsolakidis, <b>Ioannis Chalaris</b>, “APPLYING BALANCED SCORECARD STRATEGIC MANAGEMENT IN HIGHER EDUCATION”, International Conference on Integrated Information (IC-ININFO 2011), 29/09/2011 – 03/10/2011, Kos.</p>

</li>
<li><p>Anastasios Tsolakidis, Manolis Chalaris, <b>Ioannis Chalaris</b>, “INFORMATION AND KNOWLEDGE ORGANIZATION-THE CASE OF THE TEI OF ATHENS”, International Conference on Integrated Information (IC-ININFO 2011), 29/09/2011 – 03/10/2011, Kos </p>

</li>
<li><p><b>Χ. Κοίλιας,</b> Β. Κώστογλου, Ε. Τουρνά, Α. Γαρμπής, &amp; Β. Τόλης (2011). “Διερεύνηση και Ανάλυση της Απασχόλησης των Αποφοίτων ΤΕΙ”. Πρακτικά 1ου Εθνικού Συνεδρίου της Ελληνικής Μαθηματικής Εταιρείας (ΕΜΕ) και της Ελληνικής Εταιρείας Επιχειρησιακών Ερευνών (ΕΕΕΕ). 24-26 Ιουνίου 2011, Αθήνα, ΤΕΙ Πειραιά (http://eme-eeee.teipir.gr)</p>

</li>
<li><p>Giannakos, M., Doukakis, S., Vlamos, P., &amp; <b>Koilias, C.</b> (2011). (Poster) Programming in Secondary Education: Benefits and Perspectives. In G. Rößling, T. L. Naps, &amp; C. Spannagel (Eds.), 16th Annual SIGCSE Conference on Innovation and Technology in Computer Science Education, ITiCSE 2011 (p. 349). Darmstadt, Germany: ACM 2011.</p>

</li>
<li><p>Δουκάκης, Σ., <b>Κοίλιας, Χ.</b>, Αδαμόπουλος, Ν., Τσιωτάκης, Π., Ψαλτίδου, Α., Στέργου, Σ., &amp; Σταυράκη, Α. (2011). Εμπειρική Έρευνα σε Εκπαιδευτικούς για το Μάθημα Ανάπτυξη Εφαρμογών σε Προγραμματιστικό Περιβάλλον. Νέα Δεδομένα και Αποτελέσματα. Στο Ν. Καλύβας, Ι. Μπέλλου, Α. Νάτσης, Α. Νικολού, Β. Τζίμας &amp; Χ. Χαρίσης (Επιμ.) Πρακτικά 5ου Πανελληνίου Συνεδρίου Καθηγητών Πληροφορικής Δευτεροβάθμιας Εκπαίδευσης με θέμα: «Η Πληροφορική στην Πρωτοβάθμια και Δευτεροβάθμια Εκπαίδευση - Ο ρόλος του καθηγητή Πληροφορικής στο νέο σχολείο», (σ. 174-181), Ιωάννινα.</p>

</li>
</ol><p><br />
</p>

<p><b>2010</b></p>

<ol> <li><p><b>C. Skourlas </b> (presenter) : Inclusion of students with disabilities and learning difficulties at the Technological Educational Institute of Athens, The 7th International Conference on Higher Education &amp; Disability, July 20-23, 2010, Innsbruck, Austria.</p>

</li>
<li><p><b>C.C. Marinagi, P. Belsis &amp; C. Skourlas : </b> Designing a wireless learning system for including students with disabilities to mainstream class. In Proceedings of the 6th National &amp; International HSSS Conference "Systemic Approaches in Social Structures", June 23-26, 2010, Mytilene, Greece.</p>

</li>
<li><p><b>C.C. Marinagi</b>, F. Sarinopoulou, C. <b>Skourlas : </b> Α learning system for the adaptive evaluation of Deaf and Hard–of–Hearing students. The 5th International Scientific Conference eRA-5, September 15-18, 2010, Athens, Greece. </p>

</li>
<li><p>D. <b>Vassis, P. Belsis, C. Skourlas,</b> A Wireless Framework for Secure Execution of Exams related to Students with Special Needs. The 5th International Scientific Conference eRA-5, September 15-18, 2010, Athens, Greece. </p>

</li>
<li><p><b>E. Galiotou, A. Kesidis, B. Gatos,</b> I. Pratikakis : Using NLP Techniques in Historical Document Processing, Proceedings of the International Scientific Conference eRA-5 "The contribution of Information Technology to Science, Economy, Society and Education", 15 - 18 September 2010, pp. 465 - 472, ISSN : 1791 – 1133.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b>, Computer Assisted Assessment (CAA) of Free-Text: Literature Review and the specification of an alternative CAA system. In 19th IEEE International Workshops on Enabling Technologies: Infrastructures for Collaborative Enterprises (WETICE 2010), June 28-30, 2010, Larissa, Greece, IEEE Xplore.</p>

</li>
<li><p><b>Nikitas N. Karanikolas</b> and <b>Michael Gr. Vassilakopoulos</b>, Database Design with Real-World Structures. eRA-5. 5th Conference for the contribution of Information Technology to Science, Economy, Society and Education, September 15-18, 2010, Piraeus, Greece.</p>

</li>
<li><p>Rebecca Siafaka and <b>Nikitas N. Karanikolas</b>, Improvements in the Name-Your-Price Dynamic Pricing Model. eRA-5. 5th Conference for the contribution of Information Technology to Science, Economy, Society and Education, September 15-18, 2010, Piraeus, Greece.</p>

</li>
<li><p>9. Doukakis, S., Koilias, C., &amp; Chionidou-Moskofoglou, M. (2010). Students’ Satisfaction with an Undergraduate Primary Education Teaching Practicum Design on Developing Technological, Pedagogical and Mathematical Knowledge. In D. M. Lytras, P. O. Pablos, D. Avison, J. Sipior, Q. Jin, W. Leal, L. Uden, et al. (Eds.), (pp. 661-666). Athens, Greece: Springer-Verlag Berlin Heidelberg.</p>

</li>
<li><p>Δουκάκης Σπύρος, <b>Κοίλιας Χρήστος,</b> Αδαμόπουλος Νίκος, Εμπειρική έρευνα σε εκπαιδευτικούς για τις διδακτικές προσεγγίσεις στο μάθημα Ανάπτυξη Εφαρμογών σε Προγραμματιστικό Περιβάλλον, PCI 2010, WIE, Τρίπολη 11 Σεπτεμβρίου 2010, Πρακτικά σελ. 85-100.</p>

</li>
<li><p>Σ. Δουκάκης, <b>Χ. Κοίλιας</b>, Ν. Αδαμόπουλος, Χαρακτηριστικά και προτιμήσεις των εκπαιδευτικών πληροφορικής για την επιμόρφωση στο μάθημα ανάπτυξη εφαρμογών σε προγραμματιστικό περιβάλλον, 7ο Πανελλήνιο Συνέδριο με διεθνή συμμετοχή «Οι ΤΠΕ στην εκπαίδευση», Κόρινθος Σεπτέμβριος 2010, Πρακτικά σελ. 673-680.</p>

</li>
<li><p>Ιωαννίδης, Ν., <b>Κοίλιας, Χ.</b>, Κανίδης, E., Δουκάκης, Σ., &amp; Πατριαρχέας, Κ. (2010). Ανάπτυξη Εφαρμογών σε Προγραμματιστικό Περιβάλλον, Μάθημα Τεχνολογικής Κατεύθυνσης Γενικού Λυκείου Παρελθόν, Παρόν, Μέλλον. Στο Μ. Γρηγοριάδου, (Επιμ.), Πρακτικά 5ου Πανελλήνιου Συνεδρίου Διδακτικής της Πληροφορικής (σ. 454-457), Αθήνα.</p>

</li>
<li><p>Κουκιάσα Αιμ., Μουντράκης Κ., <b>Κοίλιας Χρ</b>. &amp; Σ.Κ. Μανώλης, Προσδιορισμός του φύλου απο τα βιομετρικά δεδομένα της κλείδας και της ωμοπλάτης της σύγχρονης συλλογής αναφοράς, Πρακτικά 32ου Επιστημονικού Συνεδρίου Ελληνικής Εταιρείας Βιολογικών Επιστημών, Καρπενήσι, Μαΐου 2010, σελ. 154-155.</p>

</li>
<li><p>Κουτσογιάννη Χρ., Μιχαήλ Δ., <b>Κοίλιας Χρ</b>. &amp; Σ.Κ. Μανώλης, προσδιορισμός φύλου από τα βιομετρικά δεδομένα της πυελικής ζώνης σε σύγχρονο ελληνικό πληθυσμό (The Athens Collection), Πρακτικά 32ου Επιστημονικού Συνεδρίου Ελληνικής Εταιρείας Βιολογικών Επιστημών, Καρπενήσι, Μαΐου 2010, σελ. 164-165.</p>

</li>
<li><p>Μωραϊτη Ε., Χοβαλοπούλου Μ., <b>Κοίλιας Χρ</b>.&amp; Σ.Κ. Μανώλης, Προσδιορισμός του φύλου απο τα βιομετρικά δεδομένα της μαστοειδούς απόφυσης και του ινιακού τρήματος σε σύγχρονα κρανία (The Athens Collection), Πρακτικά 32ου Επιστημονικού Συνεδρίου Ελληνικής Εταιρείας Βιολογικών Επιστημών, Καρπενήσι, Μαΐου 2010, σελ. 262-263.</p>

</li>
<li><p>Τσώρου Φ., Μουντράκης Κ., <b>Κοίλιας Χρ.</b> &amp; Σ.Κ. Μανώλης, Βιομετρικός προσδιορισμός του φύλου από θωρακικούς και οσφυϊκούς σπόνδυλους στο σύγχρονο ελληνικό πληθυσμό, Πρακτικά 32ου Επιστημονικού Συνεδρίου Ελληνικής Εταιρείας Βιολογικών Επιστημών, Καρπενήσι, Μαΐου 2010, σελ. 402-403.</p>

</li>
</ol><p><br />
</p>

<p><b>Κεφάλαια σε συλλογικούς τόμους (2010-)</b></p>

<p><b>2012</b></p>

<p>1. <b>P. Belsis, C. Skourlas, S. Gritzalis</b>, Secure electronic healthcare records distribution in wireless environments using low resource devices, Pervasive Computing and Communications Design and Deployment: Technologies, Trends, and Applications, A. Malatras, (ed), pp. 247-262, 2011, Hershey, USA, IGI Global </p></td>
</tr>

<tr>
<td colspan="2" valign="top" ><p><b>Γ. Συμμετοχές σε ερευνητικά χρηματοδοτούμενα έργα την τρέχουσα περίοδο</b></p></td>
</tr>

<tr valign="top"> <td ><p>Έργο (τίτλος)</p></td>
<td ><p>Ον/μα μελών της βασικής ερευνητικής ομάδας του Εργαστηρίου</p></td>
</tr>

<tr valign="top"> <td><p>ΕΣΠΑ – ΘΑΛΗΣ, Συντονιστής: Παν. Πατρών: Εργο: Πόντος, Καππαδοκία, Αϊβαλί: Στα χνάρια της Μικρασιατικής Ελληνικής. (AMiGre) ” (2012-2015)</p>

<p><br />
</p></td>
<td><p>1. Ελένη Γαλιώτου (Ύπεύθυνη Ερευνητικής Ομάδας ΤΕΙ Αθήνας)</p>

<p>2. Νικήτας Καρανικόλας</p>

<p><br />
</p></td>
</tr>

<tr valign="top"> <td><p>ΕΣΠΑ – ΑΡΧΙΜΗΔΗΣ ΙΙΙ, ΤΕΙ Αθήνας: “Ανάκτηση κειμένου και εικόνας με ασφαλή τρόπο σε κατανεμημένα και ασύρματα περιβάλλοντα ειδικού σκοπού. (SECRET_DIDWE)” (2012-2014)</p>

<p><br />
</p></td>
<td><p>1. Χρήστος Σκουρλάς (Επιστημονικός υπεύθυνος)</p>

<p>2. Νικήτας Καρανικόλας</p>

<p>3. Ελένη Γαλιώτου</p>

<p>4. Πέτρος Μπέλσης</p>

<p>5. Στέφανος Γκρίτζαλης</p>

<p>6. Βασίλειος Καμπουρλάζος</p>

<p>7. Αικατερίνη Μαρινάγη</p>

<p>8. Δημήτρης Βάσης</p>

<p>9. Κωνσταντίνος Φράγγος</p></td>
</tr>

<tr valign="top"> <td><p>«Ανάπτυξη ψηφιακής βιβλιοθήκης του ΤΕΙ Αθήνας», Ε.Π. «Ψηφιακή Σύγκλιση» 2011-2014, εγκεκριμένο έργο με φορέα υλοποίησης το ΤΕΙ Αθήνας, (επιστημονική υπεύθυνη Μάνεση Δ., συνεργάτες: Γιαννακόπουλος Γ., Σκουρλάς Χ.)</p></td>
<td><p>1. Σκουρλάς Χ.</p>

<p>2. Γιαννακόπουλος Γ.</p>

<p><br />
</p></td>
</tr>

<tr valign="top"> <td><p>Lifelong Learning Programmes, Leonardo da Vinci Multilateral Project Transfer Of Innovation, “DBTech VET” Project (funded by European Commission): DBTech VET Project links VET and HE education together with working life in order to meet better the needs of labour market (<a href="https://sites.google.com/site/dbtechvet/project">https://sites.google.com/site/dbtechvet/project</a>)</p></td>
<td><p>1. Χ. Σκουρλάς</p>

<p>2. Δ. Δέρβος</p>

<p><br />
</p></td>
</tr>

<tr valign="top"> <td><p><i>ΕΣΠΑ – ΘΑΛΗΣ, Συντονιστής: Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης</i>, Εργο: Από την Θεωρία Γραφημάτων στα Μητροειδή: Αλγοριθμικές Συνέπειες και Εφαρμογές, From Graph Theory to Matroids: Algorithmic issues and applications (http://excellence.minedu.gov.gr/thales/el/thalesprojects/379437)</p></td>
<td><p>1. Χ. Σκουρλάς</p>

<p><br />
<br />
</p>

<p><br />
</p></td>
</tr>

</tbody>
</table>
{% endblock %}

{% block page_content %}{% endblock %}
