{% extends "__base.html" %}

{% block page_header %}Παροχή Υπηρεσιών{% endblock %}

{% block top_menu %}
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="{% url 'subjects' %}">Αντικείμενα Έρευνας</a></li>
    <li role="presentation" class="active"><a href="{% url 'services' %}">Παροχή Υπηρεσιών</a></li>
    <li role="presentation"><a href="{% url 'teachers' %}">Καθηγητές</a></li>
    <li role="presentation" ><a href="{% url 'essay' %}">Έκθεση Σκοπιμότητας</a></li>
    <li role="presentation"><a href="{% url 'research_units' %}">Ερευνητικές Μονάδες</a></li>
{% endblock %}

{% block page_lead %}

<p>Μελέτες, ψηφιοποίηση και παραγωγή βάσεων δεδομένων (βάσεων ιστορικών χειρογράφων κ.λπ), οργάνωση υπηρεσιών τεκμηρίωσης και πληροφόρησης, μοντελοποίηση και βελτιστοποίηση διαδικασιών, σχεδίαση πληροφοριακών συστημάτων βασιζόμενων σε βάσεις δεδομένων και γνώσης, σχεδίαση συστημάτων ανάκτησης δεδομένων, πολυμεσικές εφαρμογές, σχεδίαση και κατασκευή δυναμικών ιστοσελίδων και ιστοτόπων, συμμετοχή σε εφαρμογές στους τομείς υγείας, ηλεκτρονικής διακυβέρνησης, πολιτισμού (πολιτιστικής κληρονομιάς), ηλεκτρονικής μάθησης, γλωσσικής τεχνολογίας, ηλεκτρονικού εμπορίου κ.λπ.</p>

<p><br />
</p>

<p><b>Β. Προς ιδρύματα κ.λπ.</b></p>

<p>Δραστηριότητες εκπαίδευσης, οργάνωση μαθημάτων σε ηλεκτρονική μορφή (e-learning), συνεργασία και από κοινού έρευνα σε θέματα διαχείρισης δεδομένων, πληροφορίας και γνώσης, μοντελοποίησης και πιστοποίησης διαδικασιών. </p>

<p><br />
</p>

<p><b>Γ.</b> <b>Επιτροπή Ερευνών του ιδρύματος </b> </p>

<p>Ανάληψη περαιτέρω χρηματοδοτούμενων έργων </p>

<p><br />
</p>

<p><b>Δ. Εκπαιδευτική διαδικασία</b></p>

<p>Δραστηριότητες εκπαίδευσης σε προπτυχιακό και μεταπτυχιακό επίπεδο και σε επίπεδο συνεχιζόμενης και δια βίου εκπαίδευσης, Διάχυση των ερευνητικών αποτελεσμάτων στους σπουδαστές στο πλαίσιο των προπτυχιακών και μεταπτυχιακών μαθημάτων. Η έρευνα του εργαστηρίου έχει άμεση εφαρμογή στην εκπαίδευση σε θέματα (μαθήματα): </p>

<p>• Βάσεων Δεδομένων (Data Bases), </p>

<p>• Πληροφοριακών Συστημάτων (Information Systems), </p>

<p>• Τεχνολογίας λογισμικού (Software Engineering), </p>

<p>• Επικοινωνίας Ανθρώπου Μηχανής (Human Computer Interaction), </p>

<p>• Αλγοριθμικής και δομών δεδομένων (Algorithms and Data structures), </p>

<p>• Ανάκτησης Πληροφορίας (Information Retrieval), </p>

<p>• Εξόρυξη δεδομένων (Data Mining),</p>

<p>• Πληροφοριακών Συστημάτων Διοίκησης (Management Information Systems), </p>

<p>• Διαχείρισης Γνώσης (Knowledge Management),</p>

<p>• Ηλεκτρονικού Εμπορίου (E-commerce), </p>

<p>• Επεξεργασίας Φυσικής Γλώσσας (Natural Language Processing), </p>

<p>• Ιατρικής Πληροφορικής (Medical Informatics),</p>

<p>• Διαχείρισης Επιχειρησιακών Διαδικασιών (Business Process Modeling)</p>

<p>• Συστήματα Πιστοποίησης ISO, ITΙL, CoBit </p>

<p><br />
</p>

<p>Επίσης, διάχυση των αποτελεσμάτων της έρευνας του εργαστηρίου μέσω της συνεργασίας τελειοφοίτων στα ερευνητικά έργα</p>

<p><br />
</p>

<p><b>Ε. Ερευνητική ανάπτυξη εντός ιδρύματος</b></p>

<p>Συμμετοχή του εργαστηρίου σε κοινά ερευνητικά προγράμματα με άλλα εργαστήρια του ιδρύματος και ανάπτυξη ερευνητικής υποδομής (Development of research infrastructure)</p>

<p><br />

<table>
<tbody>
</tr>

<tr>
<td colspan="3" valign="top" ><p><b>Οργανόγραμμα του Εργαστηρίου:</b></p>

<p>(στην περίπτωση που προβλέπονται ερευνητικές μονάδες)</p></td>
</tr>

<tr valign="top"> <td ><p><b>Ερευνητική μονάδα (τίτλος)</b></p></td>
<td colspan="2" ><p><b>Στελέχωση από μέλη της βασικής ερευνητικής μονάδας</b></p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα Βάσεων Δεδομένων και Γνώσης</p></td>
<td colspan="2" ><p>Σκουρλάς (Υπεύθυνος) , Γαλιώτου, Καρανικόλας</p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα Ανάπτυξης και Διαχείρισης Πληροφοριακών Συστημάτων</p></td>
<td colspan="2" ><p>Χάλαρης (Υπεύθυνος), Σκουρλάς, Κοίλιας, Γαλιώτου, Καρανικόλας</p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα Ηλεκτρονικής Μάθησης και Εκπαιδευτικής και Υποβοηθητικής τεχνολογίας στην Τριτοβάθμια Εκπαίδευση.</p></td>
<td colspan="2" ><p>Σκουρλάς (Υπεύθυνος), Κοίλιας, Χάλαρης, Γαλιώτου, Καρανικόλας</p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα Επεξεργασίας Γλώσσας και Πληροφορίας</p></td>
<td colspan="2" ><p>Γαλιώτου (Υπεύθυνη), Καρανικόλας, Σκουρλάς </p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα ανάκτησης κειμένου και διαχείρισης εγγράφων.</p></td>
<td colspan="2" ><p>Καρανικόλας (Υπεύθυνος), Γαλιώτου, Σκουρλάς</p></td>
</tr>

<tr valign="top"> <td><p>Μονάδα ανάπτυξης μικρών συστημάτων και συστημάτων για χρήση εκτός γραφείου.</p></td>
<td colspan="2" ><p>Καρανικόλας (Υπεύθυνος), Σκουρλάς, Κοίλιας</p></td>
</tr>

</tbody>
</table>
{% endblock %}

{% block page_content %}{% endblock %}
