{% extends "__base.html" %}

{% block page_header %}Αντικείμενα Έρευνας{% endblock %}

{% block top_menu %}
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="{% url 'subjects' %}">Αντικείμενα Έρευνας</a></li>
    <li role="presentation"><a href="{% url 'services' %}">Παροχή Υπηρεσιών</a></li>
    <li role="presentation"><a href="{% url 'teachers' %}">Καθηγητές</a></li>
    <li role="presentation"><a href="{% url 'research_units' %}">Ερευνητικές Μονάδες</a></li>
{% endblock %}
  
{% block page_lead %}
<h3>Ερευνητικά αντικείμενα</h3>
<p>Οι τομείς έρευνας και εκπαίδευσης του εργαστηρίου περιλαμβάνουν τα κάτωθι ερευνητικά αντικείμενα:</p>

<p>• Βάσεις Δεδομένων και γνώσης. Διαγλωσσική Ανάκτηση Πληροφορίας, Ανάκτηση Πληροφορίας βασιζόμενη στο περιεχόμενο, Εξατομίκευση. Εφαρμογές σε Πληροφοριακά συστήματα, βάσεις δεδομένων και γνώσης και παγκόσμιο ιστό.</p>

<p>• Μεθοδολογίες ανάπτυξης και διαχείρισης Πληροφοριακών Συστημάτων. Εργαλεία τεχνολογίας λογισμικού και μοντελοποίησης επιχείρησης (CASE tools &amp; business modeling tools). Ολική ποιότητα. Εφαρμογές της Πληροφορικής στο χώρο της Δημόσιας Διοίκησης (e-government), της εκπαίδευσης και σε διαχειριστικές εφαρμογές.</p>

<p>• Εκπαιδευτική και υποβοηθητική τεχνολογία. Εφαρμογές στους τομείς της Επικοινωνίας Ανθρώπου Μηχανής (HCI) , Ηλεκτρονικής μάθησης ( e-learning, mobile learning) για σπουδαστές ανωτάτης εκπαίδευσης. Εφαρμογές υποβοηθητικής τεχνολογίας (Assistive technology and Pervasive and Mobile computing) για ΑΜΕΑ σπουδαστές. </p>

<p>• Επεξεργασία Φυσικής Γλώσσας, Εξόρυξη και Διαχείριση Δεδομένων και Γνώσης, Υπηρεσίες Τεκμηρίωσης και Τεχνολογίες Πληροφόρησης. Εφαρμογές, κυρίως, σε θέματα Πολιτιστικής Κληρονομιάς και τουριστικής προβολής.</p>

<p>• Μη συμβατικές βάσεις δεδομένων, ανάκτηση εγγράφων, ανάκτηση κειμένου (text retrieval) και σημασιολογικός ιστός (Semantic Web). Εφαρμογές στο χώρο της Υγείας, της ιατρικής πληροφορικής (medical informatics) και του ηλεκτρονικού εμπορίου (e-commerce).</p>

<p>• Μοντέλων Ωριμότητας Διαδικασιών στο χώρο της Εκπαίδευσης και της Δημόσιας Διοίκησης. </p>

{% endblock %}

{% block page_content %}{% endblock %}
